
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #EBEBEB;
}
/* *{
    box-sizing: border-box;
} */
.header{
    max-width: 1002px;
}
.header_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.header_grid__article_large{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    width: 501px;
    height: 544px;
    background-color: #C7DDEA;
    display: flex;
    flex-direction: column;
    background-image: url('../IMG/family.png');
    background-size: 268px 279px; 
    background-repeat: no-repeat;
    background-position: 215px 265px;
}

.header_grid__article_small_top{
    grid-column: 2 / span 1;
    background-color: #F17949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_grid__article_small_bottom{
    grid-column: 2 / span 1;
    background-color: #FFB939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_grid__article_large-title{
    font-size: 45px;
    width: 314px;
    height: 101px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 0;
    line-height: 45px;
}
.header_grid__article_large-text{
    font-size: 14px;
    width: 268px;
    height: 103px;
    margin-left: 100px;
    line-height: 24px;
}
.header_grid__article_large-button{
    width: 131px;
    height: 39px;
    border-radius: 28px;
    border: 0;
    box-shadow: -2px 3px 12px -9px #000000;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 10px;
    background-color: white;
}
.header_grid__article_small-title{
    color: white;
    font-size: 32px;
    margin: 0;
}
.header_grid__article_small-text{
    color: rgb(0, 0, 0);
    font-size: 13px;
    margin: 0;
}
.nav{
    
}
.nav .nav__list{
    display: flex;
    justify-content: space-between;
    padding-left: 190px;
    padding-right: 190px;
    list-style: none;  
    margin: 0; 
}
.nav .nav__list .nav__list__item{
    width: 167px;
    height: 57px;
    font-size: 12px;   
    line-height: 52px;
    display: flex;
    justify-content: center;
}
.nav .nav__list .nav__list__item a{
    color: rgb(142, 141, 141);
    text-decoration: none;    
}
.nav .nav__list .nav__list__item a:hover{
    color: rgb(0, 0, 0);   
}


.main{
    max-width: 1002px;
    height: 1292px;
    display: grid;
    grid-template-columns: 90px 1fr 1fr 27px 1fr 1fr 27px 1fr 1fr 90px;
    grid-template-rows: 90px 137px 90px 90px  160px 160px 90px 90px 1fr 90px;
}
.main .main__title{
    font-size: 45px;
    grid-column: 2 / span 4;
    grid-row: 2;
    color: white;
    margin: auto;
    line-height: 46px;
}
.main .main__text{
    grid-column: 7 / span 3;
    grid-row: 2;
    line-height: 24px;
    transform: translateX(-22px);
    margin: auto;
}
.main .main__button{
    grid-column: 2;
    grid-row: 3;
    width: 131px;
    height: 39px;
    border-radius: 28px;
    border: 0;
    box-shadow: -2px 3px 12px -9px #000000;
    font-size: 10px;
    background-color: white;
    margin-top: auto;
}
.main .main__card_1{
    background-color: #ffffff;
    grid-column: 2 / span 2;
    grid-row: 5 / span 2;
    text-align: center;
    padding-left: 10px;
    border-radius: 5px;
}
.main .main__card_1 .main__card_1__title, .main__card_2__title, .main__card_3__title{
    font-size: 16px;
}
.main .main__card_1 .main__card_1__text, .main__card_2__text, .main__card_3__text{
    font-size: 11px;
    line-height: 20px;
    padding-right: 10px;
}
.main .main__card_1 .main__card_1_img{
    width: 236px;
    height: 150px;
    background-color:#C7DDEA;
    grid-column: 2;
    grid-row: 5;
    transform: translateY(-22px);
    overflow: hidden;
    border-radius: 5px;

}
.main .main__card_1 .main__card_1_img .main__card_1_img__image{
    width: 88px;
    margin-top: 12px;
}

.main .main__card_2{
    background-color: #ffffff;
    grid-column: 5 / span 2;
    grid-row: 5 / span 2;
    text-align: center;
    padding-left: 10px;
    border-radius: 5px;
}
.main .main__card_2 .main__card_2_img{
    width: 236px;
    height: 150px;
    background-color:#FAB131;
    grid-column: 2;
    grid-row: 5;
    transform: translateY(-22px);
    overflow: hidden;
    border-radius: 5px;
}
.main .main__card_2 .main__card_2_img .main__card_2_img__image{
    width: 98px;
    margin-top: 12px;
}

.main .main__card_3{
    background-color: #ffffff;
    grid-column: 8 / span 2;
    grid-row: 5 / span 2;
    text-align: center;
    padding-left: 10px;
    border-radius: 5px;
}
.main .main__card_3 .main__card_3_img{
    width: 236px;
    height: 150px;
    background-color: #F17949;
    grid-column: 2;
    grid-row: 5;
    transform: translateY(-22px);
    overflow: hidden;
    border-radius: 5px;
}
.main .main__card_3 .main__card_3_img .main__card_3_img__image{
    width: 140px;
    margin-top: 20px;
}
.main .main__bgcolor_top{
    grid-column: 1 / span 11;
    grid-row: 1 / span 6;
    background-color: #A9A19E;
}
.main .main__bgcolor_bottom{
    grid-column: 1 / span 11;
    grid-row: 6 / span 8;
    background-color: #FAB131;
}
.main .main__bottom_title{
    grid-column: 5 / span 2;
    grid-row: 8;
    font-size: 45px;
    color: white;
    margin: 0;
    line-height: 46px;
    text-align: center;
}
.main .main__bottom_text{
    grid-column: 3 / span 6;
    grid-row: 9;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (max-width:768px){
    .header_grid{
        grid-template-columns: repeat(1, 1fr);
    }    
}