
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #EBEBEB;
}

.header{
    max-width: 1002px;
}
.header_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.header_grid__article_large{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    width: 501px;
    height: 544px;
    background-color: #C7DDEA;
    display: flex;
    flex-direction: column;
    background-image: url('../IMG/family.png');
    background-size: 268px 279px; 
    background-repeat: no-repeat;
    background-position: 215px 265px;
}
/* .header_grid__article_large-img{
    width: 286px;
    height: 279px;
    align-self: self-end;
    margin-top: auto;
} */

.header_grid__article_small_top{
    grid-column: 2 / span 1;
    background-color: #F17949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_grid__article_small_bottom{
    grid-column: 2 / span 1;
    background-color: #FFB939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_grid__article_large-title{
    font-size: 45px;
    width: 314px;
    height: 101px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 0;
    line-height: 45px;
}
.header_grid__article_large-text{
    font-size: 14px;
    width: 268px;
    height: 103px;
    margin-left: 100px;
    line-height: 24px;
}
.header_grid__article_large-button{
    width: 131px;
    height: 39px;
    border-radius: 28px;
    border: 0;
    box-shadow: -2px 3px 12px -9px #000000;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 10px;
    background-color: white;
}
.header_grid__article_small-title{
    color: white;
    font-size: 32px;
    margin: 0;
}
.header_grid__article_small-text{
    color: rgb(0, 0, 0);
    font-size: 13px;
    margin: 0;
}